__pychache__/*epoch
*.pyc
.ipynb_checkpoints/*
.idea/*
venv
*.log
*.pth.targit submodule add -b master --name torchvision_mrcnn https://github.com/skletz/torchvision-mrcnn.git model/torchvision_mrcnn
*.pkl
*.npz
../.env
# Environments
.env
.venv
env/
venv/

# Model size is too large for GitHub
test/model/
!test/model/params.conf
test/video/
test/dataset/**/